body{
    background-color:honeydew;
}
h1{
    font-family: monospace;
}
.div-cabecalho{
    background-color: darkgreen;
    padding: 25px;
}
.div-menu{
    text-align: center;
    
}
.menu{
    display: inline-block;
    text-align: center;
    padding: 0 25px 0 25px;
    color: black;

}
a{
    text-decoration: none;
}
.imagem-perfil{
    border-radius: 100%;
}

p{
    font-family: 'Montserrat', sans-serif;
}


strong{
    font-style: italic;
}

