*{
    margin: 0;
    padding:0;
   
}
body{
    background-color:honeydew;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  
}
header{
    background-color: darkgreen;
    padding: 25px;
    height: 170px;
}
h1{
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    margin-top:4% ;
    max-width: 100%;
    
}

.imagem-perfil{
    border-radius: 100%;
    padding: 25px;
    position: absolute;
    top: 50px;
    
}

.imagem-linkedin{
    width: 50px;
    padding: 0px;
    position: relative;
    left: 100px;
    top: 230px;
    
}
.imagem-linkedin:hover{
    width: 55px;
}
.imagem-github{
    width: 50px;
    padding: 0px;
    position: relative;
    left: 150px;
    top: 230px;
    
}
.imagem-github:hover{
    width: 55px;
}


.lista-menu{
    display: inline-block;
    padding: 25px;
    position: absolute;
    top: 200px;
    right: 75px;
    max-width: 50%;
    
}
.menu:link{
    color: black;
    
}
.menu a{
    font-size: 30px;
    text-decoration: none;
    padding: 0 25px 0 25px;
}
.menu{
    display: inline-block;
    font-size: 30px;
    
}
.menu a:visited{
    color: black;
}
.menu a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.div-sobre{
    

    padding: 200px 100px 150px 100px;
    text-align: center;
    line-height: 3em;
}
h2{
    font-size: 40px;
    padding: 25px;
    text-align: center;

}
h3{
    font-weight: bold;
    font-size: 30px;
}

footer h2{
    background-color: honeydew;
    margin: auto;
    margin-bottom: 25px;
}
.div-habilidades li{
    line-height: 1.5em;
    font-size: 20px;
    list-style-type: square;
}
.div-soft{
    display: inline-block;
    position: absolute;
    left: 10%;
}
.div-hard{
    display: inline-block;
    position: absolute;
    right: 10%;
    
}
strong{
    color: darkgreen;
}
footer{
    background-color: darkgreen;
    min-height: 450px;
}

